<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1" charset="UTF-8">
    <title>About Me</title>
  
    <style>
        @import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
        body,
        html {
            height: 100%;
            margin: 0;
        }
        
        .bg {
            background-image: url('img/background-image.png');
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .left {
            display: inline-block;
            vertical-align: top;
            width: 30%;
        }
        
        .right {
            display: inline-block;
            vertical-align: top;
            width: 70%;
        }
        
        .sayHi {
            margin: 1.5em;
            font-family: sans-serif;
            font-size: 3em;
            color:white;
            
        }
        
        .aboutMe {
            background-color: rgba(247, 247, 247, 0.55);
            margin: 2em;
            padding: 2em;
            font-family: "Noto Sans TC", sans-serif;
            font-size: 1.5em;
            
             
        }


    </style>
</head>

<body>

    <div class="bg">
        <div class="left">
            <div class="sayHi">
                <h1>
                Hi~<br>
                <%= name %>!<br>
                I'm<br>
                Syuan.

                </h1> 
            </div>
        </div>
        <div class="right">
            <div class="aboutMe">
<!--                <img src="img/me.png">-->
                <h1 style="text-align: center;font-family: sans-serif">About Me</h1> 
                <p>
                來自台中，十八歲以後隻身來到台北,成為一個不想當老師的師大人，目前就讀於國文系三年級。平時喜歡閱讀和接觸一些與人文相關的事物，另一方面我也喜歡利用資訊科技來解決問題或達成目的，兩種截然不同的興趣，使得我思考層面具有更大的彈性及多樣性，未來也考慮以「數位人文」作為主要的發展方向，目標在於使科技與人文能夠更加緊密地結合。
                </p>
            </div>
        </div>
    </div>
</body>

</html>